[general]
name        = {{ name }}
nomenclature63 = {{ nomenclature63 }}

[configurations]
concatenate =

[CDT]
name        = {{ name }}.CDT
files       = MAIN.BIN,MAIN.BAS

[DSK]
name        = {{ name }}.DSK